name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    # - name: Remove Docker image
    #   run: sudo docker image prune -a
    - name: Pull Docker image
      run: sudo docker pull gcampecino/squire-test-be:latest
    - name: Delete Old docker container
      run: sudo docker rm -f squire-test-be-container || true
    - name: Run Docker Container
      run: sudo docker run -d -p 8000:8000 --name squire-test-be-container gcampecino/squire-test-be
